<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>macOSRuntimeTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>objc-trampolines.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>objc.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>885440B02583200700ABEF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88627FED258345DC00D61EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88627FFA2583636800D61EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC0620554660B00DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BCC6CA205C68E800DD9AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
